/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.d-none{
    display: none;
}