/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
h1{
    font-size: 3.75rem;
}
.d-none{
    display: none;
}
#numbers{
    margin: 2.5rem 0;
    font-size: 50px;
}
#time{
    font-size: 1.25rem;
}
#endGame-down,#endGame-up{
    font-size: 3.125rem;
}
#user-input{
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 1.875rem;
    border-radius: .9375rem;
    flex-wrap: wrap;
    align-items: center;
    max-width: 28.125rem;
}
#user-input>*{
    margin: .625rem;
}
#btn,#play-again{
    background-color: lightgreen;
    padding: .625rem .9375rem;
    border-radius: .625rem;
    font-weight: bold;
    font-size: 1.125rem;
}
#play-again{
    margin-top: 2.5rem;
}
form label,form input{
    font-size: 1.25rem;
}
form label{
    max-width: auto;
}
form input{
    max-width: 30%;
}
form h2 {
    width: 100%;
    text-align: center;
}